<div id="member-autocomplete-suggestions" class="autocomplete-dropdown">
    <div class="autocomplete-list">
        {% for user in matches %}
            <button type="button"
                    hx-on:click="document.getElementById('member-user-id').value='{{ user.id }}'; document.getElementById('member-search-input-field').value='{{ user.displayName|default(user.username) }} (@{{ user.username }})'; document.getElementById('member-autocomplete-suggestions').style.display='none';"
                    class="autocomplete-item">
                <span class="avatar-small">
                    {{ user.username|slice(0, 1)|upper }}
                </span>
                <span>{{ user.displayName ?: user.username }} (@{{ user.username }})</span>
            </button>
        {% else %}
            <div class="autocomplete-empty">Aucun utilisateur correspondant</div>
        {% endfor %}
    </div>
</div>
