<div class="attachment-preview text-preview-container" id="text-preview-wrapper-{{ message_id }}">
    <button type="button" class="btn-preview-link text-preview-toggle"
            hx-get="{{ path('app_file_text_preview_hide', {id: message_id}) }}"
            hx-target="#text-preview-wrapper-{{ message_id }}"
            hx-swap="outerHTML">
        <span class="btn-preview-icon">❌</span> {{ 'Masquer l\'aperçu'|trans }}
    </button>
    <div class="text-preview-content" id="text-preview-{{ message_id }}">
        <pre><code style="font-family: monospace;"
                   class="text-preview-code language-{{ fileExt }}">{{ text }}</code></pre>
    </div>
</div>
